<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meruvian.pxc.selfservice">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:name="com.meruvian.pxc.selfservice.SignageAppication" android:allowBackup="true"
        android:icon="@drawable/ic_launcher" android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.meruvian.pxc.selfservice.activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.meruvian.pxc.selfservice.activity.MainActivityMaterial"
            android:configChanges="orientation|screenSize" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.meruvian.pxc.selfservice.activity.MainActivity"
            android:configChanges="orientation|screenSize" android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity android:name=".activity.OrderListActivityMaterial" android:theme="@style/AppTheme.NoActionBar"/>-->
        <activity android:name="com.meruvian.pxc.selfservice.activity.OrderActivity" android:theme="@style/AppTheme.NoActionBar.Collapse" />
        <activity android:name="com.meruvian.pxc.selfservice.activity.RewardActivity" android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.meruvian.pxc.selfservice.activity.WizardActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.meruvian.pxc.selfservice.activity.SettingActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.meruvian.pxc.selfservice.activity.SyncActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.meruvian.pxc.selfservice.activity.SyncCampaignActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.meruvian.pxc.selfservice.activity.LoginActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.meruvian.pxc.selfservice.activity.FXPCLoginActvity"
            android:configChanges="orientation|screenSize" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.meruvian.pxc.selfservice.activity.SellerOrderListActivity"
            android:configChanges="orientation|screenSize" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.meruvian.pxc.selfservice.activity.SellerOrderMenuListActivity"
            android:configChanges="orientation|screenSize" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.meruvian.pxc.selfservice.activity.WebViewActivity"
            android:configChanges="orientation|screenSize" android:theme="@style/esales"/>

        <provider
            android:name="com.meruvian.pxc.selfservice.content.MidasContentProvider"
            android:authorities="com.meruvian.pxc.selfservice.content.midascontentprovider"
            android:syncable="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="55c5d6591dd96b913045881a4581bd84ae994187" />
    </application>

</manifest>
