<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoqii.sales.selfservice">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:name="com.hoqii.sales.selfservice.SignageAppication" android:allowBackup="true"
        android:icon="@drawable/ic_launcher" android:label="@string/app_name"
        android:theme="@style/esales">

        <activity android:name="com.hoqii.sales.selfservice.activity.SplashActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hoqii.sales.selfservice.activity.MainActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />

        <activity android:name="com.hoqii.sales.selfservice.activity.WizardActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.CatalogActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.SettingActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.SyncActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.SyncCampaignActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.CatalogTabActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.PromoActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.LoginActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.ContactActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.ContactListActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.ScannerImeiActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.OrderListActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />
        <activity android:name="com.hoqii.sales.selfservice.activity.SettleAgentActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/esales" />

        <activity android:name="com.hoqii.sales.selfservice.activity.ImageZoomActivity"
                  android:configChanges="orientation|screenSize" android:theme="@style/Transparent"/>

        <provider
            android:name="com.hoqii.sales.selfservice.content.MidasContentProvider"
            android:authorities="com.hoqii.sales.selfservice.content.midascontentprovider"
            android:syncable="true" />
    </application>

</manifest>
